{% load static %}


<nav class="navbar navbar-default navbar-fixed-top custom-nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GK</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-img" href="https://github.com/gkadillak"><img class="logo-link" src="{% static 'portfolio/ext/images/GitHub-Mark-cropped.png' %}" /></a></li>
        <li><a class="nav-img" href="https://twitter.com/gkadillak"><img class="logo-link" src="{% static 'portfolio/ext/images/Twitter_Logo_Blue-cropped.png' %}" /></a></li>
        <li><a href="{% url 'portfolio:projects' %}">Portfolio</a></li>
        <li><a href="{% url 'portfolio:bio' %}">Bio</a></li>
      </ul>
    </div>
  </div>
</nav>
