.front-header {
    padding-top: 60px;
    padding-bottom: 60px;
}

.post {
    .centertable {
        margin: 0 auto;
    }
}

.custom-nav {
    // TODO: change background color, add animation
    border-radius: 0;


    .nav-img {
        min-height: 20px;
        display: flex;
        align-items: center;
    }
    .logo-link {
        height: 50px;
    }
}

.post-preview {
    font-size: 24px;
}

.video {
    text-align: center;
}