{% load staticfiles %}


<!DOCTYPE html>
<head>
  <title>Garrett Kadillak</title>
  <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'vendors/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
</body>
<nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Garrett Kadillak</a>
      <a href="https://www.twitter.com/gkadillak">
        <img height="50px" alt="twitter" src="{% static 'img/assets/twitter.png' %}" />
      </a>
      <a href="https://www.github.com/gkadillak">
        <img height="30px" alt="github" src="{% static 'img/assets/github.png' %}" />
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a class="link-custom" href="{% url 'blog:blog' %}">Blog</a></li>
        <li><a class="link-custom" href="{% url 'blog:about' %}log">About</a></li>
        <li><a class="link-custom" href="{% url 'blog:portfolio' %}log">Portfolio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
      <div class="center-entry">
        {% block body %}{% endblock %}
      </div>
  </div>
</div>

<script src="{% static 'vendors/js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/search_entries.js' %}"></script>
</html>
