{% extends 'blog/base.html' %}

{% block body %}
<!-- TODO: input box that allows searching through search_results view -->
{% for entry in entries %}
<div class="entry">
  <h2><a href="{% url 'blog:entry' entry.id %}">{{ entry.headline }}</a></h2>
  <p>{{ entry.body|truncatewords:20|safe }} </p>
  <span>{{entry.created|date:"j F, o"}}</span>
  <!-- Display all tags for given entry, display like posts when clicked -->
  <span>
    {% for tag in entry.tags.all %}
    <a href="{% url 'blog:entries_with_given_tag' tag.name %}">#{{tag}}</a>
    {% endfor %}
  </span>
</div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if entries.has_previous %}
    <a href="?page={{ entries.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{entries.number}} of {{entries.paginator.num_pages}}.
    </span>

    {% if entries.has_next %}
    <a href="?page={{entries.next_page_number}}">next</a>
    {% endif %}
  </span>
</div>

{% endblock %}
